@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --surface-0: theme('colors.slate.950');
  --surface-1: theme('colors.indigo.950');
  --surface-2: theme('colors.indigo.900');
  --surface-3: theme('colors.indigo.800');
  --surface-4: theme('colors.indigo.700');
  --surface-5: theme('colors.indigo.600');
  --surface-6: theme('colors.indigo.500');

  --primary-0: theme('colors.indigo.50');
  --primary-1: theme('colors.indigo.100');
  --primary-2: theme('colors.indigo.200');
  --primary-3: theme('colors.indigo.300');
  --primary-4: theme('colors.indigo.400');

  --accent-0: theme('colors.teal.50');
  --accent-1: theme('colors.teal.100');
  --accent-2: theme('colors.teal.200');
  --accent-3: theme('colors.teal.300');
  --accent-4: theme('colors.teal.400');

  background: radial-gradient(
    circle,
    var(--surface-1) 0%,
    var(--surface-0) 100%
  );
  color: var(--primary-0);
}
